//- layout.pug
html
    head
        title My Site
        link(rel="stylesheet" href="css/style.min.css")
    body
        include ../includes/header.pug
        h1 lol1213adasdsad
        block content
